.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Sistema de GRID */
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
  'header header header header header header'
  'menu main main main right right'
  'menu footer footer footer footer footer';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
/* Fin Sistema de GRID */

.form-register > div {
  margin: 1rem;
}
input, button {
  font-size: 2rem;
}
.error {
  color: crimson;
  font-weight: bold;
  margin-top: 4px;
}

/* Colores */
.squares {
  padding: 2rem;
  margin-top: 2rem;
  background-color: aqua;
}
.squares > div {
  min-height: 5rem;
  margin-bottom: 2rem;
  border: 2px solid black;
}

/* Estilos de Navtab */
.navtab {
  width: 800px;
  margin: 0 auto;
  border: 1px solid black;
  font-size: 1.5rem;
}
.tabs {
  border: 2px solid green;
}
.tab-item {
  display: inline-block;
  margin: 0.5rem;
  border: 2px solid black;
  padding: 0.5rem;
  font-weight: bold;
}
.tab-item:hover {
  text-decoration: underline;
}
.selected {
  background-color: black;
  color: white;
}
.tab-view {
  border: 2px solid black;
  min-height: 4rem;
}

/* Estilos de personaje */
.personajes {
  display: flex;
}
.personajes .col {
  flex: 1;
  border: 2px solid blue;
  padding: 1 rem;
}